html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    font-family:Roboto;
}

/*Calender*/
/*.e-calendar {
    background-color: peachpuff;
    border: 3px solid red;
}*/
.e-calendar .e-content td:hover span.e-day, .e-calendar .e-content td:focus span.e-day, .e-bigger.e-small .e-calendar .e-content td:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td:focus span.e-day {
    background-color: #d9230f;
    color: #ffffff;
}

.e-calendar .e-btn.e-today.e-flat.e-primary, .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
    background-color: #d9230f;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background-color: #d9230f;
    color: #fff;
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
    background-color: #d9230f;
    color: #fff;
}
/********************/

/*ejs-textbox-style*/
/* To specify font size and color */
.e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text {
    /*font-weight:bold;*/
    font-size:14px;
}

.custom-textbox-multiline {
    height: 100px; /* Set your desired initial height here */
}

#numbercount {
    margin-left: 465px;
    color: #d9230f;
    font-size:12px;
}

.custom-textbox {
    height: 50px;/* Set your desired initial height here */
}

